@media screen and (max-width: 667px)
{
    #bloc_page
    {
        width: auto;
        height: auto;
    }

    nav
    {
        text-align: center;
        flex-direction: column;
    }

    a
    {
        padding: 0;
        position: none;
        display: inline;
        z-index: 1;
    }

    .TexteInformation
    {
        display: inline;
        font-size: 12px;
        margin-left: 5px;
    }

    .NavMenu2
    {
        display: inline;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    nav ul
    {
        flex-direction: column;
    }

    .ul:after
    {
        content: "";
        position: absolute;
        opacity: .5;
    }

    nav li
    {
        padding-left: 4px;
    }

    .testinline
    {
        display: inline;
        z-index: 2;
    }

    nav a:hover
    {
        border-bottom: 0;
    }

    nav img
    {
        margin-block: none;
        margin-top: 10px;
    }

    section 
    {
        flex-direction: column;
        align-content: left;
    }

    .MargeTitres
    {
        flex-direction: column;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 15px;
    }

    .FiltreTextIcons
    {
        margin-top: 5px;
        margin-left: 0px;
        margin-right: 0px;
    }

    h1
    {
        text-align: center;
        margin-left: 0px;
        padding: 10px;
        font-size: 23px;
        margin-top: 0;
    }

    .Texte-gauche
    {
        text-align: left;
        margin-left: 0px;
        margin-left: 20px;
    }

    .TexteSecondaire
    {
        text-align: center;
        margin-bottom: 20px;
    }

    .MarginLeft
    {
        margin-bottom: 0;
    }

    .MarginLeft2
    {
        margin-left: 30px;
        margin-top: 20px;
        margin-right: 0;
    }

    .wrap
    {
        margin-left: 20px;
        padding-left: 0;
    }

    #hebergements
    {
        flex-direction: column-reverse;
        width: 375px;
    }

    .ColonneAround
    {
        width: 375px;
    }

    .Bloc-populaires-size
    {
        width: 375px;
        margin-left: 0px;
        border-radius: 0px;
    }

    .ImagesHotels1
    {
        width: 150px;
        height: 115px;
    }

    .Cube-Populaires
    {
        margin-top: 0px;
    }

    .taille-hebergements
    {
        width: 375;
        background-color: none;
        margin-left: 0;
        margin-right: 0;
        display: flex;
        align-items: center;
        
    }

    .back-gris1
    {
        background-color: white;
    }

    .bloc-hebergements
    {
        display: flex;
    }

    .FlexColonneCentre
    {
        display: flex;
    }

    .Texte-gauche
    {
        margin-left: none;
        margin-top: 0px;
    }

    .Texte-Gras
    {
        margin-left: 10px;
        margin-top: 10px;
        margin-bottom: 0;
    }

    .BlocActivités
    {
        margin-left: 0px;
        margin-right: 0px;
        flex-direction: column;
        width: 375px;
        height: auto;
    }

    .Footer
    {
        width: 355px;
        height: auto;
        margin-top: 40px;
        flex-direction: column;
        padding-bottom: 20px;
        padding-left: 20px;
    }

    .FondGris
    {
        width: auto;
        height: auto;
    }

    .CubeActivites2
    {
        margin-right: 40px;
    }

    .ImagesActivites1
    {
        margin-left: 0px;
    }

    .ImagesActivites2
    {
        margin-left: 0px;
        margin-top: 20px;
    }

    .ImagesActivites3
    {
        margin-left: 0px;
        margin-top: 20px;
        
    }

    .ImagesActivites4
    {
        margin-top: 20px;
    }

    .ImagesActivites5
    {
        margin-top: 20px;
    }

    .ImagesActivites6
    {
        margin-top: 20px;
    }

    .DIV-lien-footer
    {
        height: auto;
        padding: 0px;
    }

    .None-Decoration
    {
        margin-left: 10px;
        padding: 0px;
    }

    .marge-footer-bloc1
    {
        margin-left: 0px;
    }

    .marge-footer-bloc3
    {
        margin-left: 0px;
        margin-right: 0px;
    }

    .ImagesActivites1 {
        object-fit: cover;
        width: 335px;
        height: 134px;
        border-radius: 15px 15px 0 0;
    }

    .ImagesActivites2 {
        object-fit: cover;
        width: 335px;
        height: 134px;
        border-radius: 15px 15px 0 0;
    }

    .ImagesActivites3 {
        object-fit: cover;
        width: 335px;
        height: 134px;
        border-radius: 15px 15px 0 0;
    }

    .ImagesActivites4 {
        object-fit: cover;
        width: 335px;
        height: 134px;
        border-radius: 15px 15px 0 0;
    }

    .ImagesActivites5 {
        object-fit: cover;
        width: 335px;
        height: 134px;
        border-radius: 15px 15px 0 0;
    }

    .ImagesActivites6 {
        object-fit: cover;
        width: 335px;
        height: 134px;
        border-radius: 15px 15px 0 0;
    }

    .ActivitesTitres {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 335px;
        padding-left: 20px;
    }

    .image-hebergements1
    {
        width: 315px;
        height: 120px;
    }

    .image-hebergements2
    {
        width: 315px;
        height: 120px;
    }

    .image-hebergements3
    {
        width: 315px;
        height: 120px;
    }

    .image-hebergements4
    {
        width: 315px;
        height: 120px;
    }

    .image-hebergements5
    {
        width: 315px;
        height: 120px;
    }

    .image-hebergements6
    {
        width: 315px;
        height: 120px;
    }

    .CarreHebergements
    {
        width: 335px;
        margin-bottom: 20px;
        margin-right: 0;
        margin-left: 20px;
    }

    .cube-hebergements-details
    {
        width: auto;
        height: auto;
    }

    .FlexColonneCentre
    {
        justify-content: flex-start;
        align-items: left;
    }

    .FlexColonneCentreMedia
    {
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: left;
    }

    .FlexBetweenHebergements
    {
        justify-content: left;
        display: inline;
    }

    .FlexAroundHebergements
    {
        justify-content: none;
    }

    .ColonneAroundHebergements
    {
        display: inline;
        width: 375px;
    }

    .Lien-Footer
    {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .TexteInformation
    {
        display: inline;
    }

    .searchButton {
        width: auto;
        height: 47px;
        border: none;
        background: #0065FC;
        color: #ffffff;
        border-radius: 0 10px 10px 0;
        cursor: pointer;
        font-size: 17px;
        font-family: "Raleway", sans-serif;
        font-weight: none;
    }

    .textcentre
    {
        justify-content: center;
    }

}