@media screen and (max-width: 667px)
{
    #bloc_page
    {
        width: auto;
        height: auto;
    }

    nav
    {
        width: auto;
        text-align: ;
    }

    nav ul
    {
        flex-direction: column;
    }

    nav li
    {
        padding-left: 4px;
    }

    nav a
    {
        font-size: 1em;
    }

    nav a:hover
    {
        border-bottom: 0;
    }

    nav img
    {
        margin-left: none;
    }

    section 
    {
        flex-direction: column;
        align-content: left;
    }

    .MargeTitres
    {
        flex-direction: column;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 15px;
    }

    .FiltreTextIcons
    {
        margin-top: 5px;
        margin-left: 0px;
        margin-right: 0px;
    }

    h1
    {
        text-align: center;
        margin-left: 0px;
    }

    .Texte-gauche
    {
        text-align: center;
        margin-left: 0px;
    }

    .wrap
    {
        margin-left: 0px;
        padding-left: 0px;
    }

    #hebergements
    {
        flex-direction: column-reverse;
    }

    .ColonneAround
    {
        width: 375px;
    }

    .Bloc-populaires-size
    {
        width: 375px;
        margin-left: 0px;
        border-radius: 0px;
    }

    .Cube-Populaires
    {
        margin-top: 0px;
    }

    .taille-hebergements
    {
        width: 375;
        background-color: none;
    }

    .back-gris1
    {
        background-color: white;
    }

    .bloc-hebergements
    {
        margin-left: 10px;
        padding-left: 0px;
        display: flex;
    }

    .FlexColonneCentre
    {
        display: flex;
    }

    .Texte-gauche
    {
        margin-left: none;
    }

    .BlocActivités
    {
        margin-left: 0px;
        flex-direction: column;
        width: 375px;
        height: auto;
    }

    .Footer
    {
        width: 375px;
        height: auto;
        margin-top: 40px;
        flex-direction: column;
    }

    .CubeActivites2
    {
        margin-left: 0px;
    }

    .ImagesActivites1
    {
        margin-left: 0px;
    }

    .ImagesActivites2
    {
        margin-left: 0px;
        margin-top: 20px;
    }

    .ImagesActivites3
    {
        margin-left: 0px;
        margin-top: 20px;
    }

    .ImagesActivites4
    {
        margin-top: 20px;
    }

    .ImagesActivites5
    {
        margin-top: 20px;
    }

    .ImagesActivites6
    {
        margin-top: 20px;
    }

    .DIV-lien-footer
    {
        height: auto;
        padding: ;
    }

    .None-Decoration
    {
        margin-left: 10px;
        padding: 0px;
    }

    .marge-footer-bloc1
    {
        margin-left: 60px;
    }

}