                
                
                /* -- Importants -- */

.flex-centre {
    display: flex;
    justify-content: left;
    align-items: center;
}

.FlexAround {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.FlexBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.FlexColonneCentre {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-align-left {
    text-align: left;
}

.ColonneAround {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

                /* -- Main -- */


body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img{
    height: 40px;
    margin-left: 50px;
    margin-top: 50px;

}
nav ul {
    margin-right: 550px;
    display: flex;
    list-style: none;
}

nav li {
    margin: 0 30px 0 5px;
}

/* Main */

h1 {
    font-weight: 800;
    margin-top: 40px;
    font-size:  20px;
    margin-left: 50px;
}

.Texte-gauche{
    margin-left: 50px;
}

                /* -- Fin de main -- */

                /* -- Début bouton de recherche */

.localisation {
    width: 180px;
    height: 47px;
    border: none;
    border-radius: 15px 0 0 15px;
    background-color: rgba(148, 148, 148, 0.164);
}

.search {
    width: 333px;
    height: 43px;
    position: relative;
    display: flex;
    fill: white;
    padding: none;
    text-align: left;
    border-color: rgba(148, 148, 148, 0.164);
    border-width: 1px;
    border-left: none;
    border-right: none;
}

.searchTerm {
    width: 333px;
    border: none;
    border-right: none;
    padding: none;
    height: 45px;
    border-radius: 15px 0 0 15px;
    outline: none;
}

.searchTerm:focus {
    color:blueviolet

}

.searchButton {
    width: 333px;
    height: 47px;
    border: none;
    background: #0065FC;
    text-align: center;
    color: #ffffff;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    font-size: 17px;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
}

.wrap {
    margin-left: 20px;
    width: 333px;
    position: relative;
    top: 30px;
    left: 200px;
    transform: translate(-50%, -50%);
  }

::placeholder {
    font-size: 15px;
    color: rgb(0, 0, 0);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    padding-left: 10px;
}

                /* -- Fin bouton recherche -- */

                /* -- Filtres -- Economique | Familial | Romantique | Animaux autorisés -- */


.Titre {
    font-size: 15px;
    color: rgb(0, 0, 0);
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
}

.MargeTitres {
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 50px;
}

.Filtres {
    display: flex;
    align-items: center;
}

.MargeFiltresTitre {
    margin-right: 20px;
}

.FiltreTextIcons {
    border: 2px solid rgb(217, 217, 217);
    height: 50px;
    border-radius: 30px;
    margin-right: 20px;
}

.FiltreIcon {
    margin: -2px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 19px 19px 19px 19px;
    border-radius: 50%;
    color: #0065FC;
    background-color: #deebff;
}

.FiltreTexte {
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0 25px 25px 0;
}

                /* -- Fin des catégories -- */


                /* -- Information -- */

.MargeInformation {
    margin-bottom: 0px;
    margin-left: 50px;
}

.IconInformation {
    padding: 10px 10px 10px 10px;
    color: #0065FC;
    border: 1px solid rgb(217, 217, 217);
    border-radius: 100%;
}

.TexteInformation {
    display: flex;
    margin-left: 10px;
}

                /* -- Filtres / Economique / Familial etc -- */


                /* -- Bloc 1 pour les hébergements -- */

.Texte-Gras {
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 40px;
}

.TextH3 {
    font-size: 18px;
    font-weight: bold;
    margin-left: 5px;
}

.MarginLeft {
    margin-left: 5px;
}

.MarginLeft2 {
    margin-left: 20px;
}

.MarginRight1 {
    margin-right: 20px;
}

.MarginBottom {
    margin-bottom: 20px;
}

.MarginTop {
    margin-top: 40px;
}

hebergements {
    flex-direction: column;
    align-items: flex-start;
}

.cube-hebergements-details {
    width: 234px;
    height: 113px;
    text-align: left;
}

.bloc1 {
    margin-bottom: 40px;
}

.bloc2 {
    margin-top: 10px;
}

.CarreHebergements {
    width: auto;
    height: auto;
    background-color: white;
    padding: 10px;
    border-radius: 30px;
    box-shadow: 3px 0px 15px 3px#83838386;
    margin-right: 20px;
}

.FondGris {
    background-color: #f2f2f2;
}

.couleur-bleu {
    color: #0065FC;
}

.couleur-grise {
    color: rgb(217, 217, 217);
}

.back-gris {
    background-color: #f2f2f2;
    margin-left: 40px;
    margin-top: 30px;
}

.image-hebergements1 {
    object-fit: cover;
    width: 230px;
    height: 120px;
    border-radius: 15px 15px 0 0;
}

.image-hebergements2 {
    object-fit: cover;
    width: 230px;
    height: 120px;
    border-radius: 15px 15px 0 0;
}

.image-hebergements3{
    object-fit: cover;
    width: 230px;
    height: 120px;
    border-radius: 15px 15px 0 0;
}

.image-hebergements4 {
    object-fit: cover;
    width: 230px;
    height: 120px;
    border-radius: 15px 15px 0 0;
}

.image-hebergements5 {
    object-fit: cover;
    width: 230px;
    height: 120px;
    border-radius: 15px 15px 0 0;
}

.image-hebergements6 {
    object-fit: cover;
    width: 230px;
    height: 120px;
    border-radius: 15px 15px 0 0;
}

.taille-hebergements {
    flex: 2;
    margin-right: 20px;
    border-radius: 20px;
}

.bloc-hebergements {
    padding-left: 40px;
    padding-right: 20px;
}

                /* -- Fin hébergements -- */

                /* -- Bloc populaires -- */

.bloc-populaires {
    padding-left: 20px;
    padding-right: 20px;
}

.Bloc-populaires-size {
    flex: 1;
    height: 720px;
    margin-left: 20px;
    border-radius: 20px;
    margin-right: 20px;
}

.Cube-Populaires {
    background-color: white;
    height: 120px;
    width: 350px;
    padding: 1% 0 1% 1%;
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 3px 0px 15px 3px#83838386;
    margin-bottom: 65px;
    align-self: center;
}

.Populaires-Cubes-Details {
    width: auto;
    padding-right: 5px;
}

.ImagesHotels1 {
    object-fit: cover;
    width: 40%;
    height: 120px;
    border-radius: 15px 0 0 15px;
}
                /* -- Fin de bloc Populaires -- */

                /* -- Début activités a Marseille -- */

.BlocActivités {
    width: 100%;
    height: 700px;
}

.HightTitresActivites {
    height: 70px;
    box-shadow: 3px 0px 15px 3px#83838386;
    border-radius: 0px 0px 15px 15px;
}

.ActivitesTitres {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 50px;
    width: 300px;
    margin-left: 50px;
}

.ImagesActivites1 {
    margin-left: 50px;
    object-fit: cover;
    width: 300px;
    height: 400px;
    border-radius: 15px 15px 0 0;
    box-shadow: 3px 0px 15px 3px#83838386;
}