body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img{
    height: 40px;
    margin-left: 50px;
    margin-top: 50px;

}
nav ul {
    display: flex;
    list-style: none;
}

nav li {
    margin: 0 30px 0 5px;
}

/* Main */

h1 {
    margin-top: 40px;
    font-size:  20px;
    margin-left: 50px;
}

p {
    margin-left: 50px;
    margin-top: 0px;
}

form {
    margin-left: 50px;
    margin-top: 30px;
}

input {
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
    color: rgb(255, 255, 255);
}

.submit {
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
    background-color: blue;
    
}