body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img{
    height: 40px;
    margin-left: 50px;
    margin-top: 50px;

}
nav ul {
    display: flex;
    list-style: none;
}

nav li {
    margin: 0 30px 0 5px;
}

/* Main */

h1 {
    margin-top: 40px;
    font-size:  20px;
    margin-left: 50px;
}

p {
    margin-left: 50px;
    margin-top: 0px;
}

/* -- Fin de main -- */

/* -- Début bouton de recherche */

.localisation {
    width: 200px;
    height: 36px;
    border: none;
    border-radius: 5px 0 0 5px;
}

.search {
    width: 300px;
    height: 34px;
    position: relative;
    display: flex;
    border: none;
    padding: none;
    text-align: left;
}

.searchTerm {
    width: 100px;
    border: none;
    border-right: none;
    padding: none;
    height: 36px;
    border-radius: 10px 0 0 10px;
    outline: none;
}

.searchTerm:focus {
    color:blueviolet

}

.searchButton {
    width: 200px;
    height: 36px;
    border: none;
    background: #0065FC;
    text-align: center;
    color: #ffffff;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    font-size: 15px;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
}

.wrap {
    width: 250px;
    position: relative;
    top: 30px;
    left: 200px;
    transform: translate(-50%, -50%);
  }

::placeholder {
    font-size: 15px;
    color: rgb(0, 0, 0);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    padding-left: 10px;
}